#middle, .header, .playerBox, .chatContainer, .chatBox {
    text-align: center;
}

.pick2, .pick1 {
    height: 50px;
    line-height: 50px;
}

.chatBox{
    height: 200px;
    border: solid;
    border-width: 1px;
    margin-top: 15px;
    text-align: left;
    bottom: 0px;
    overflow-y: auto;
    vertical-align: text-bottom;
}

.nameBox {
    height: 30px;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

#middle {
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: red;
}
